@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:400);

html {
  background-color: #13294B;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: .5rem;
  font-family: 'Work Sans', sans-serif;
  
}

.postsDiv {
  display: grid;
  /* flex-direction: row;
  flex-wrap: wrap; */
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 1rem;
  grid-auto-rows: minmax(min-content, max-content);
  row-gap: 20px;
  width: 100%;  
  align-items: start;
}

.logo {
  height: 70px;
  pointer-events: none;
}


.box {
  text-align: left;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  transition: .4s;
  max-height: 400px;
}

.box img {
  width: 90%;
  height: 30%;
  object-fit: contain;
  display: block;
  margin: 20px;
  text-align: center;
}

.box:hover {
  color: white;
  background-color: #383838;
}

input { /* search bar */
  padding: .5rem;
  width: 400px;
}

button {
  padding: .5rem;
  font-size: 15px;
}

.modal { 
  font-size: 12px;}.modal > .header { width: 100%; border-bottom: 1px solid gray; font-size: 18px; text-align: center; padding: 5px;}.modal > .content { width: 100%; padding: 10px 5px;}.modal > .actions { width: 100%; padding: 10px 5px; margin: auto; text-align: center;}.modal > .close { cursor: pointer; position: absolute; display: block; padding: 2px 5px; line-height: 20px; right: -10px; top: -10px; font-size: 24px; background: #ffffff; border-radius: 18px; border: 1px solid #cfcece;
  } 

.popup-box {
  justify-content: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
